/*Customização do corpo*/
body {

    margin:0;
    padding:0;

}

/*Customização do input*/
input{

    margin: 5px;
    height: 3vh;
    border-radius: 10px;

}

/*Customização do marcador de texto*/
mark{

    background-color: rgb(230, 171, 9);
    font-size: 120%;

}

/*Customização da imagem X*/
.img_X {

    position: relative;
    top: 45px;
    right: 35px;
    width:1.5vw;
    height:3vh;

}

/*Customização da logo da fluxo*/
.img_Fluxo {

    width: 40vw;
    height: 40vh;
    position: absolute;
    top: 50px;

}

/*Customização do container que envolve o site inteiro*/
.container{

    display: flex;
    flex-direction: row;
}

/*Customização da caixa maior da direita*/
.big_box_dir{

    width: 45vw;
    height: 100vh;
    border-radius: 0;
    margin: 0 0 0 50px;
    padding: 0;

    /* cores */

    background-color: white;
    border-color: white;
    color: black;

    /* FlexBox */

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

/*Customização da caixa maior da desquerda*/
.big_box_esq{

    background-image: url(./Assets/Escritório.jfif);
    background-repeat: no-repeat;
    background-size: 115vh 100vw;
    background-position:center right;

    filter: sepia(70%) saturate(160%);

    width: 50vw;
    height: 100vh;
    border-radius: 0;
    padding: 0;

    /* cores */

    background-color: white;
    border-color: white;
    color: black;

    /* FlexBox */

    display: flex;
    flex-direction: column;
    justify-content: center top;
    align-items: center;
}


/*Customização das caixas menores que incluem um checkbox e um texto*/
.short_box{

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

/*Customização do botão TENHO INTERESSE*/
.button {

    font-size: 200%;
    margin: 35px;
    background: #e89505;
    color: white;
    border-color: #e89505;
    height: 80px;
    width: 30vw;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}